/* You can add global styles to this file, and also import other style files */
@import "~@avaya/neo/neo/dist/css/neo/neo.min.css";
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}